<!-- basic animation demo -->
<app-tool-bar (menuClick)="menuState = 'open'"></app-tool-bar>
<app-menu-bar [@openClose]="menuState" (menuClose)="menuState = 'closed'"></app-menu-bar>

<!-- using :enter & :leave -->
<!-- <app-tool-bar (menuClick)="menuOpen = true"></app-tool-bar>
<app-menu-bar @openClose2 *ngIf="menuOpen" (menuClose)="menuOpen = false"></app-menu-bar> -->

<!-- using keyframes -->
<!-- <app-tool-bar (menuClick)="menuOpen = true"></app-tool-bar>
<app-menu-bar @keyframes *ngIf="menuOpen" (menuClose)="menuOpen = false"></app-menu-bar> -->


<!-- example of using query() and stagger() -->
<div [@fade-in-out-p]="images" class="img-container">
  <mat-card *ngFor="let img of images">
    <mat-card-content>
      <img mat-card-img [src]="img" width="250px" height="250px">
    </mat-card-content>
  </mat-card>
</div>

<button mat-icon-button class="remove" *ngIf="images.length > 0" (click)="removeImage()">
  <mat-icon>delete</mat-icon>
</button>

<button mat-icon-button class="add" *ngIf="images.length === 0" (click)="addImage()">
  <mat-icon>add</mat-icon>
</button>

<!-- <div class="container" [@rotating]="rotateState">
  <h1 class="text">Rotating Text</h1>
  <h1>Rotating Text2</h1>
  <button mat-icon-button (click)="rotate()">
    <mat-icon>play_arrow</mat-icon>
  </button>
</div> -->

<!-- <app-home [@fade-in-out]></app-home> -->
<router-outlet></router-outlet>
